<h2 class="mb-5">本人情報</h2>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <p class="h5">ユーザー名</p>
    <div class="card mb-3">
      <p class="h5"><%= @user.name %></p>
    </div>
    
    <p class="h5">メールアドレス</p>
    <div class="card mb-3">
      <p class="h5"><%= @user.email %></p>
    </div>
  </div>
</div>