<h2>出品アイテム一覧</h2>

<% @items.each do |item| %>
  <div class="row">
    <div class="col-sm-12 border pl-0">
      
      <%= image_tag item.image.url, size: "100x100" if item.image? %>
      <div class="col-sm-2 d-inline-block">
        <p><%= item.name %></p>
      </div>
      <%= link_to "このアイテムの詳細を見る", item_path(item) %>
    </div>
  </div>
<% end %>
  <%= paginate @items %>
