<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">SKDIC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="mr-auto"></div>

    <div class="">
      <a href="#" class="btn btn-danger mx-2 py-0">新規登録</a>
      <a href="#" class="btn btn-outline-primary py-0">ログイン</a>
    </div>
    
</header>